### SQL 1 : Consecutive Numbers

### Task

Write a SQL query to find all numbers that appear at least 3 times in a row.

The input will be a table named `input_table` and has 2 columns:
- 'id' column, a unique ID of each row, showing the order
- 'num' column, a number for each ID

Your output will be a table with only 1 column and display the number that appear at least 3 times (or more) in a row. Don't output a duplicate number.

Your output should be in ascending order.

The `id` column in `input_table` will always be in the form of an INTEGER, and the next row is always +1 from the previous row.

### Example 1:

- Input: a table named `input_table` as such:

| id | num |
| --- | --- |
| 1 | 1 |
| 2 | 1 |
| 3 | 1 |
| 4 | 2 |
| 5 | 1 |
| 6 | 2 |
| 7 | 2 |
| 8 | 1 |

- Output =
| num |
| --- |
| 1 |


In our `input_table`, the number '1' appears 3 times in a row (ID 1, ID 2, ID 3). So, our output is '1'.

### Example 2:

- Input =

| id | num |
| --- | --- |
| 1 | 1 |
| 2 | 2 |
| 3 | 2 |
| 4 | 2 |
| 5 | 2 |
| 6 | 1 |
| 7 | 1 |
| 8 | 1 |
| 9 | 1 |

- Output =
| num |
| --- |
| 1 |
| 2 |


The number '2' appears four times in a row (ID 2, 3, 4, 5) and number '1' appears four times in a row (ID 6, 7, 8, 9). So, the numbers that appear at least three times in a row are number '1' and '2'.

### Example 3:

- Input =

| id | num |
| --- | --- |
| 1 | 1 |
| 2 | 2 |
| 3 | 1 |
| 4 | 2 |
| 5 | 2 |
| 6 | 1 |
| 7 | 1 |
| 8 | 2 |
| 9 | 1 |

- Output =
| num |
| --- |


In this example, none of our numbers appear consecutively at least 3 times. At most, they appear consecutively 2 times. So, our output will be empty (karena tidak ada angka yang muncul minimal 3 kali berturut turut).

### Input Format

The input is in the shape of a table named `input_table`

### Output Format

The output is in the shape of a table with a single column

### Sample Input

| id | num |
| --- | --- |
| 1 | 1 |
| 2 | 2 |
| 3 | 2 |
| 4 | 2 |
| 5 | 2 |
| 6 | 1 |
| 7 | 1 |
| 8 | 1 |
| 9 | 1 |

### Sample Output
| num |
| --- |
| 1 |
| 2 |

### Space for Work

In [ ]:
### Tulis query pada online editor yang telah disarankan atau sesuai dengan preferensi ###

SELECT DISTINCT
    num FROM ( SELECT num,
               LAG(num) OVER (ORDER BY id) AS prev_num,
               LEAD(num) OVER (ORDER BY id) AS next_num
               FROM input_number ) AS subquery
        WHERE num = prev_num AND num = next_num;